.path-success {
  .shape-ring {
    border-radius: 50%;
    height: 720px;
    width: 720px;
    border: 80px solid $path-success-shape-ring-border-color;
    max-width: none;
    margin-right: -25%;

    @include media-breakpoint-up($grid-float-breakpoint) {
        height: 920px;
        width: 920px;
        border-width: 100px;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 0;
    }
  }
}
